<html>
  <head>
    <title>Jatinder Khabra</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <a href="#menu" id="toggle"><span></span></a>
    <nav id='menu'>
      <ul class='nav-bar' id='nav'>
        <!-- <li style="float:left">
             <a class="nav-links" href="/"></a>
             </li> -->
        <li class="nav-items">
          <a class="nav-links" href="/">Notes</a>
        </li>
        <li class="nav-items">
          <a class="nav-links" href="/work">Work</a>
        </li>
        <li class="nav-items">
          <a class="nav-links active" href="/">About</a>
        </li>
      </ul>
    </nav>

    <div class='container'>
      {% block container %}
      {% endblock %}
    </div>
    <footer class='footer'>
      &copy;Jatinder Khabra 2017
    </footer>

    <script>
     var theToggle = document.getElementById('toggle');
     function hasClass(elem, className) {
	     return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
     }

     function addClass(elem, className) {
       if (!hasClass(elem, className)) {
    	   elem.className += ' ' + className;
       }
     }

     function removeClass(elem, className) {
	     var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
	     if (hasClass(elem, className)) {
         while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
           newClass = newClass.replace(' ' + className + ' ', ' ');
         }
         elem.className = newClass.replace(/^\s+|\s+$/g, '');
       }
     }

     function toggleClass(elem, className) {
	     var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
       if (hasClass(elem, className)) {
         while (newClass.indexOf(" " + className + " ") >= 0 ) {
           newClass = newClass.replace( " " + className + " " , " " );
         }
         elem.className = newClass.replace(/^\s+|\s+$/g, '');
       } else {
         elem.className += ' ' + className;
       }
     }

     theToggle.onclick = function() {
       toggleClass(this, 'on');
       return false;
     }
    </script>

    <script>
     var d = document.getElementById("nav");
     window.onscroll = function() {myFunction()};

     function myFunction() {
       if (document.body.scrollTop > 80) {
         document.getElementById("nav").className = "stuck";
       } else {
         document.getElementById("nav").className = "nav-bar";
       }
     }
    </script>
  </body>
</html>
