{% extends "layout.html" %}
{% block container %}

<div class='wrapper'>

  <div class='big-image'>
    <div class='greeting'>
      <span class='line'></span>
      <span class='hi'>Hi I'am</span>
      <span class='line'></span>
    </div>
    <div class='name' id='nam'>Jatinder Khabra</div>
  </div>
  <div class='who'>
    <div class='info'>
      <span class='line line2'></span>
      <span class='who2'>WHO AM I?</span>
      <span class='line line2'></span>
    </div>
    <div class='info-content'>
      <span class='br'>I'm a Python Developer </span>
      <br>
      <span class='br'>I'm a Front End Software Engineer</span>
      <br>
      <span class='br'> I Build Websites And Mobile Apps</span>
    </div>
  </div>
  <div class='education'>
    <div class='edu1'>
      <h2 class='edu2'>I'm a developer</h2>
      <h3 class='edu3'>I'm a software developer from Punjab India who loves to write software</h3>
      <span class='dvider'></span>
      <div class='about-text'>
        <img class='profile' src='/static/images/9.jpg' alt='profile picture'>
        <p class='edu4'>I'm a web developer with a passion for bulding apps and sofware. I'm currently a third year student, and pursuing a degree in computer science. I aspire toward a career that will allow me to channel my creativity through crafting beautiful software and engaging experiences.
          <span class='black'></span>
          <p class='edu5'>When I'm not on the computer, I enjoy playing video games, hiking, and petting dogs.
          </p>
      </div>
    </div>
  </div>
  <div class='do'>
    <div class='color'>
      <div class='do-heading'>
      <span class='line'></span>
      <span class='do-head'>WHAT I DO</span>
      <span class='line'></span>
      </div>
    <div class='do1'>
      <div class='do-content'>
        <div class="sprite"><img class='do-icon' src='/static/images/code.png' alt='web development'></div>
        <h3 class="service-heading">Web Development</h3>
        <p class="service-text">
          I'm a developer, so i know how to create a website that run across devices using the latest technologies available. Using HTML, CSS, and JavaScript,  I'm passionate about web design and development, and interested in mobile app development. As I grow as a developer, I hope to write clean, readable code that can be used by others.
        </p>
      </div>
      <div class='do-content2 space'>
        <div class="sprite ico2"><img class='do-icon' src='/static/images/mob.png' alt='responsive design'></div>
        <h3 class="service-heading">Responsive UI Design</h3>
        <p class="service-text">
          Design isn't just what a product looks like and feels like on the outside. Design encompasses the internal functionality of a product as well as the overall user experience. I develop and implement responsive design so it adapt to any possible screen size.
        </p>
      </div>
      <div class='do-content3'>
        <div class="sprite ico3"><img class='do-icon' src='/static/images/d.png' alt='experience design'></div>
        <h3 class="service-heading">EXPERIENCE DESIGN</h3>
        <p class="service-text">
          User experience is an aspect of software. User Experience Design is the process of enhancing user satisfaction by improving the usability, accessibility, and “delight" provided in the interaction between a user and product. It's about making apps intuitive, easy to use, and most of all effective at solving problems.
        </p>
      </div>
      <div class='do-content4 space'>
        <div class="sprite ico4"><img class='do-icon' src='/static/images/folder.png' alt='documentation'></div>
        <h3 class="service-heading">IN-DEPTH DOCUMENTATION</h3>
        <p class="service-text">
          When I learn or do new things, I document how I do them so that I can re-do them efficiently on future projects, and also share that information with colleagues and friends.
        </p>
      </div>
    </div>
    </div>
  </div>
  <div class='skill'>
    <div class='skill-header'>
      <span class='line line2'></span>
      <span class='l'>Skills</span>
      <span class='line line2'></span>
    </div>
    <div class='skill1'>
      <h2 class='tool-heading'>
        <span class='sprite tools'>
          <img class='icon-img' src='static/images/s2.png' alt='web tools'>
        </span>
        <span>DEVELOPMENT</span>
      </h2>
      <div class='skill2'>
        <ul>
          <li class='skill-item'>Python</li>
          <li class='skill-item'>HTML5</li>
          <li class='skill-item'>CSS3</li>
          <li class='skill-item'>JavaScript</li>
          <li class='skill-item'>SQL</li>
          <li class='skill-item'>Nginx</li>
        </ul>
      </div>
    </div>
    <div class='tool-wrapper'>
      <h2 class="tool-heading">
        <span class="sprite tools"><img class='icon-img' src='static/images/tool.png' alt='web tools'></span>
        <span>TOOLS</span>
      </h2>
      <ul>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='git github'> Git</li>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='command line'> Command Line</li>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='sqlachemy'> SQLAlchemy</li>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='boostrap'> Bootstrap</li>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='flask'> Flask</li>
      </ul>
    </div>
    <div class='idea-wrapper'>
      <h2 class="idea-heading">
        <span class="sprite tools"><img class='icon-img' src='static/images/idea2.png' alt='web knowledge'></span>
        <span>KNOWLEDGE</span>
      </h2>
      <ul>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='css detangling'> CSS Detangling</li>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='EcmasScript'> ECMAScript 6</li>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='usability'> Usability</li>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='SEO'> SEO</li>
        <li class='tool-item'><img class='item-svg' src='static/images/t.png' alt='tdd'> TDD</li>
      </ul>
    </div>
  </div>
  <div class='help'>
    <div class='help-txt'>
      <span class='line'></span>
      <span class='txt'> I can help</span>
      <span class='line'></span>
    </div>
    <h3 class='help-txt2'> I’m currently available for freelance work.</h3>
    <p class='help-txt3'>
      If you have a project that you want to get started, think you need <br>
      my help with something or just fancy saying hey, then get in touch.
    </p>
    <a class="send message-btn"  href="mailto:jkhabra09@gmail.com" target="_blank" rel='noopener' title="email">SEND MESSAGE</a>
  </div>
</div>

{% endblock %}
