{% extends "layout.html" %}
{% block container %}
<div class='my-work'>
  <div class='my-mork3'>
    <span class='line'></span>
    <span class='my-work2'>Some of My Work</span>
    <span class='line'></span>
    <h2 class='work-heaing'>What I've been up to.</h2>
    <p class='work-para'>Here's a selection of some recent work.</p>
  </div>
</div>
<div class='looper'>
  <div class='screenshot'>
    <h1 class='app-name'><a class='loop-link' href='https://github.com/jkhabra/looper-apps'  target='_blank'>LooperApps</a></h1>
    <div class='screenshot2'>
      <img class='shot-image' src='bundle/images/shot.jpg' alt='app screentshot'>
      <img class='tab' src='bundle/images/tab.jpg' alt='screentshot'>
      <img class='mob' src='bundle/images/shot3.jpg' alt='screenshot'>
    </div>
  </div>
  <div class='dis'>
    <p class='app-about'>LooperApps is a collection of Facebook apps that allows people to post interesting posts on Facebook. This applicaton built in flask python. It uses the css3's lateset tachnology grid layout.</p>
  </div>
</div>


<div class='looper sprinkler'>
  <div class='screenshot'>
    <h1 class='app-name'><a class='loop-link' href='https://github.com/jkhabra/sprinkler'  target='_blank'>Sprinkler</a></h1>
    <div class='screenshot2'>
      <img class='shot-image' src='bundle/images/sprinkler-shot1.jpg' alt='app screentshot'>
      <img class='tab' src='bundle/images/sprinkler-shot2.jpg' alt='screentshot'>
      <img class='mob' src='bundle/images/sprinkler-shot3.jpg' alt='screenshot'>
    </div>
  </div>
  <div class='dis'>
    <p class='app-about'>Sprinkler is a Facebook apps that allows people to post interesting posts on Facebook. In this app you can set scheule time for later publication. This applicaton built in flask python. It uses javascript and css3.</p>
  </div>
</div>
<div class='help'>
  <div class='help-txt'>
    <span class='line'></span>
    <span class='txt'> I can help</span>
    <span class='line'></span>
  </div>
  <h3 class='help-txt2'> I’m currently available for freelance work.</h3>
  <p class='help-txt3'>
    If you have a project that you want to get started, think you need <br>
    my help with something or just fancy saying hey, then get in touch.
  </p>
  <a class="send message-btn"  href="mailto:jkhabra09@gmail.com" target="_blank" rel='noopener' title="email">SEND MESSAGE</a>
</div>
{% endblock %}
